<div data-options="dxView : { name: 'about', title: 'Informazioni' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px; font-weight:bold">Calcolo Performance di Produzione</p>
            <p style="padding: 5px">Applicazione a scopo dimostrativo per fornire alcune semplici statistiche afferenti un generico impianto di produzione.</p>

            <p style="padding: 5px">
                Altre Applicazioni dello stesso genere con funzionalità di gestione delle autorizzazioni utente ed interrogazione dei dati aziendali sono sviluppate 
                dietro specifica richiesta sotto forma di prodotti personalizzati e scaricabili dal market solo dagli account autorizzati.
            </p>

            <p style="padding: 5px">Per qualsiasi informazion circa i nostri prodotti, non esitate a visitare il nostro sito <br /><a href="http://www.brain-enterprise.it/">http://www.brain-enterprise.it</a>. </p>

            <p>&nbsp;</p>

            <p style="padding: 5px; text-decoration:underline">Contatti:</p>
            <p style="padding: 5px">Brain Enterprise di Plevani Gianluca</p>
            <p style="padding: 5px">via L. Einaudi, 23/b<br />46047 - Porto Mantovano (MN)</p>
            <p style="padding: 5px">tel. 0376 1994036</p>
            <p style="padding: 5px">e-mail:<a href="mailto:info@brain-enterprise.com">info@brain-enterprise.com</a></p>
            <p style="padding: 5px">P. Iva IT 0220 1060 981<br />C.F. PLVGLC 74M12 B157 A</p>
        </div>
    </div>
</div>